@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

:root {
    --fonte-custom: 'Big Shoulders Display'
}

body {
    background-color: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    color: white;
}

header {
    background-color: rgba(211, 211, 211, 0.171);
    height: 48px;
}

header img {
    padding-right: 45px;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 5%;
}

header a {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-weight: bold;
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
}

nav a:hover {
    color: red;
    transition-duration: 0.3s;
}

nav li {
    padding-right: 52px;
    padding-top: 5px;
    font-family: var(--fonte-custom);
    font-size: 1.1em;
}

main h1 {
    color: white;
    padding: 10px;
    font-size: 2em;
    font-weight: bolder;
    font-family: var(--fonte-custom);
}

main img {
    width: 455px;
    margin-left: 11px;
    margin-bottom: 8px;
    display: inline-block;
}

main img:hover {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 2px solid red;
    width: 24%;
    height: 24%;
    transition-duration: 5s;
    transition-delay: 0.3ms;
    box-shadow: 1px 1px 1px red;
}

footer {
    padding-top: 13%;
    font-family: var(--fonte-custom);
    font-size: 15px;
    bottom: 0;
    text-align: center;
    color: white;
}