div.video {
    position: relative;
    padding-bottom: 58.5%;
}

div.video > iframe {
    position: absolute;
    top: 12%;
    left: 22%;
    width: 62%;
    height: 62%;
    box-shadow: 1px 1px 0.5px rgba(211, 211, 211, 0.342);
}