div.video {
    position: relative;
    padding-bottom: 58.5%;
}

div.video > iframe {
    position: absolute;
    top: 10.5%;
    left: 19.8%;
    width: 62%;
    height: 62%;
    box-shadow: 1px 1px 10px rgba(253, 0, 0, 0.479);
}